# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore environment variable files
.env
.env.local

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE config files
.idea/
.vscode/

# Ignore compiled files
*.out
*.class
*.pyc
__pycache__/

# Ignore build directories
build/
dist/
target/

# Ignore temporary files
*.tmp
*.swp
